fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-community
langchain-groq
langchain-huggingface

sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
faiss-cpu

pandas
numpy
scikit-learn

pytesseract
pdf2image
PyMuPDF
pypdf

beautifulsoup4
lxml

requests

streamlit
altair
pydeck