fastapi
uvicorn
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith

sentence-transformers
transformers
torch
faiss-cpu
scikit-learn
scipy
numpy
numba
llvmlite

pandas
PyMuPDF
pypdf
pypdfium2
pdf2image
pytesseract
tesseract
python-magic
unstructured
unstructured-client

beautifulsoup4
lxml
html5lib

requests
httpx
httpcore
aiohttp
aiofiles

python-dotenv
pydantic
pydantic-settings
SQLAlchemy

tqdm
regex
RapidFuzz
langdetect